@charset "UTF-8";
/*
*Default ----------------------------------------------------------------
*/
/* line 3, ../sass/basic.scss */
body {
  font-family: "Roboto", "Noto Sans TC", 微軟正黑體, STHeiti, arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.085rem;
  color: #666666;
}
@media screen and (max-width: 576px) {
  /* line 3, ../sass/basic.scss */
  body {
    font-size: 16px;
  }
}
/* line 13, ../sass/basic.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* line 18, ../sass/basic.scss */
a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 20, ../sass/basic.scss */
a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}

/* line 26, ../sass/basic.scss */
p {
  margin-bottom: 1.5rem;
}

/* line 30, ../sass/basic.scss */
h1, h2, h3, h4, h5, h6 {
  color: #433734;
  font-family: "Roboto", "Noto Sans TC", 微軟正黑體, STHeiti, arial, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

/* line 37, ../sass/basic.scss */
button, input, select, textarea {
  font-family: "Roboto", "Noto Sans TC", 微軟正黑體, STHeiti, arial, sans-serif;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

/* line 41, ../sass/basic.scss */
select, textarea {
  width: 100%;
  border: 1px solid #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #433734;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 48, ../sass/basic.scss */
select.custom-select, textarea.custom-select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 51, ../sass/basic.scss */
select:focus, select:hover, textarea:focus, textarea:hover {
  color: #29548B;
}

/* line 55, ../sass/basic.scss */
.select-wrapper {
  position: relative;
}
/* line 57, ../sass/basic.scss */
.select-wrapper .iconify {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 1.5rem;
  color: #fff;
}
/* line 64, ../sass/basic.scss */
.select-wrapper .cus-select {
  width: 100%;
  padding: 10px 15px;
  font-size: 1.15rem;
  color: #fff !important;
  font-weight: bold;
  background-color: #29548B;
}

/* line 74, ../sass/basic.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 79, ../sass/basic.scss */
.custom-control .custom-control-label {
  cursor: pointer;
}
/* line 81, ../sass/basic.scss */
.custom-control .custom-control-label:before {
  background-color: #A3C2DC;
  border-color: #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 86, ../sass/basic.scss */
.custom-control .custom-control-label:before, .custom-control .custom-control-label:after {
  top: 0.2rem;
}
/* line 92, ../sass/basic.scss */
.custom-control .custom-control-input:checked ~ .custom-control-label:before {
  background-color: #29548B;
  border-color: #29548B;
}
/* line 98, ../sass/basic.scss */
.custom-control .custom-control-description {
  padding-top: 3px;
}
/* line 102, ../sass/basic.scss */
.custom-control.custom-radio:not(:last-of-type) {
  margin-bottom: 8px;
}
/* line 105, ../sass/basic.scss */
.custom-control.custom-radio .custom-control-label {
  padding-left: 8px;
}
/* line 110, ../sass/basic.scss */
.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label:after {
  background: none;
}

/* line 117, ../sass/basic.scss */
::-webkit-selection {
  color: #49C0C8;
  background: #102544;
}

/* line 121, ../sass/basic.scss */
::-moz-selection {
  color: #49C0C8;
  background: #102544;
}

/* line 125, ../sass/basic.scss */
::selection {
  color: #49C0C8;
  background: #102544;
}

/* line 3, ../sass/header.scss */
#header {
  position: fixed;
  top: 0;
  width: calc(100% - 16px);
  background-color: #fff;
  z-index: 99;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* line 11, ../sass/header.scss */
#header .logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0 0;
  text-align: center;
}
/* line 17, ../sass/header.scss */
#header .logo img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  height: 50px;
}
/* line 22, ../sass/header.scss */
#header nav {
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
}
/* line 26, ../sass/header.scss */
#header nav .navbar-nav li {
  position: relative;
  list-style: none;
}
/* line 33, ../sass/header.scss */
#header.fixed .logo {
  padding: 5px 0 0;
}
/* line 35, ../sass/header.scss */
#header.fixed .logo img {
  height: 45px;
}
@media screen and (min-width: 768px) {
  /* line 42, ../sass/header.scss */
  #header .logo img {
    height: 80px;
  }
  /* line 46, ../sass/header.scss */
  #header nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 51, ../sass/header.scss */
  #header nav .navbar-nav li a {
    text-align: center;
    color: #433734;
  }
  /* line 54, ../sass/header.scss */
  #header nav .navbar-nav li a:hover, #header nav .navbar-nav li a:active {
    color: #49C0C8;
  }
  /* line 59, ../sass/header.scss */
  #header nav .navbar-nav li.active a {
    color: #4CD2D5;
  }
  /* line 68, ../sass/header.scss */
  #header.fixed .logo img {
    height: 70px;
  }
  /* line 72, ../sass/header.scss */
  #header.fixed nav {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  /* line 79, ../sass/header.scss */
  #header .logo {
    padding: 5px 0;
  }
  /* line 81, ../sass/header.scss */
  #header .logo img {
    height: 70px;
  }
  /* line 87, ../sass/header.scss */
  #header nav .navbar-nav li {
    padding: 0 0.5rem;
  }
  /* line 90, ../sass/header.scss */
  #header nav .navbar-nav li a:hover, #header nav .navbar-nav li a:active {
    letter-spacing: 0.25rem;
  }
  /* line 98, ../sass/header.scss */
  #header.fixed .logo {
    padding: 5px 0 10px;
  }
  /* line 100, ../sass/header.scss */
  #header.fixed .logo img {
    height: 60px;
  }
}
@media screen and (max-width: 991px) {
  /* line 107, ../sass/header.scss */
  #header nav {
    padding: 5px 0;
  }
  /* line 110, ../sass/header.scss */
  #header nav .navbar-nav li {
    padding: 0;
  }
  /* line 112, ../sass/header.scss */
  #header nav .navbar-nav li a {
    font-size: 0.97rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 120, ../sass/header.scss */
  #header .offcanvas-collapse {
    position: fixed;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(41, 84, 139, 0.97);
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  /* line 133, ../sass/header.scss */
  #header .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
    z-index: 999;
  }
  /* line 138, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav {
    position: relative;
    padding: 2rem 0;
  }
  /* line 141, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li {
    width: 100%;
  }
  /* line 143, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li a {
    padding: 0.75rem 0.25rem;
    font-size: 18px;
    color: #fff;
    text-align: left;
  }
  /* line 148, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li a.nav-link {
    font-weight: 500;
    letter-spacing: 0.5rem;
  }
  /* line 154, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li:hover a.nav-link {
    color: #49C0C8;
  }
}
@media screen and (max-height: 576px) {
  /* line 163, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav {
    padding: 20px 0 60px;
  }
}

/* line 3, ../sass/footer.scss */
#footer {
  position: relative;
  padding-top: 30px;
  font-size: 0.95rem;
}
/* line 7, ../sass/footer.scss */
#footer p {
  margin-bottom: 0;
}
/* line 9, ../sass/footer.scss */
#footer p.sp-txt {
  font-size: 0.85rem;
}
/* line 13, ../sass/footer.scss */
#footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 17, ../sass/footer.scss */
#footer ul li {
  display: inline-block;
}
/* line 19, ../sass/footer.scss */
#footer ul li a {
  color: #433734;
}
/* line 21, ../sass/footer.scss */
#footer ul li a:hover, #footer ul li a:active {
  color: #2C73A9;
}
/* line 27, ../sass/footer.scss */
#footer ul.menu li {
  padding-bottom: 5px;
  padding-right: 20px;
}
/* line 33, ../sass/footer.scss */
#footer ul.keyword li {
  padding-top: 16px;
  padding-right: 8px;
}
/* line 36, ../sass/footer.scss */
#footer ul.keyword li a {
  padding: 4px 8px;
  border: 1px solid #ccc;
}
/* line 39, ../sass/footer.scss */
#footer ul.keyword li a:hover, #footer ul.keyword li a:active {
  color: #4CD2D5;
  border-color: #4CD2D5;
}
/* line 47, ../sass/footer.scss */
#footer .logo {
  margin-bottom: 5px;
}
/* line 50, ../sass/footer.scss */
#footer .tel {
  font-weight: 300;
  color: #4CD2D5;
}
/* line 53, ../sass/footer.scss */
#footer .tel a {
  display: inline-block;
  padding-left: 20px;
  color: #4CD2D5;
  font-weight: bold;
}
/* line 60, ../sass/footer.scss */
#footer .copyright {
  margin-top: 30px;
  font-weight: 200;
  font-size: 0.85rem;
  padding: 5px 0;
  margin-bottom: 0;
  color: #fff;
  background-color: #A3C2DC;
}
/* line 68, ../sass/footer.scss */
#footer .copyright a {
  display: inline-block;
  padding-right: 8px;
  color: #fff;
}
/* line 72, ../sass/footer.scss */
#footer .copyright a:last-of-type {
  padding-right: 0;
}
/* line 75, ../sass/footer.scss */
#footer .copyright a.elink {
  color: #f4c51c;
  font-weight: normal;
}
/* line 80, ../sass/footer.scss */
#footer .copyright p {
  text-align: right;
}
@media screen and (max-width: 1199px) {
  /* line 85, ../sass/footer.scss */
  #footer .tel {
    font-size: 1.25rem;
  }
  /* line 88, ../sass/footer.scss */
  #footer .sp-txt {
    margin-top: 15px;
  }
  /* line 91, ../sass/footer.scss */
  #footer .copyright, #footer .copyright p {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  /* line 3, ../sass/footer.scss */
  #footer {
    margin-bottom: 40px;
  }
  /* line 97, ../sass/footer.scss */
  #footer .logo {
    width: 200px;
    float: left;
  }
  /* line 101, ../sass/footer.scss */
  #footer .tel {
    padding-top: 12px;
    float: right;
  }
  /* line 105, ../sass/footer.scss */
  #footer .logo, #footer .tel {
    display: inline-block;
    margin-bottom: 0;
  }
  /* line 109, ../sass/footer.scss */
  #footer ul.menu, #footer ul.keyword {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  /* line 3, ../sass/footer.scss */
  #footer {
    padding-top: 20px;
  }
  /* line 115, ../sass/footer.scss */
  #footer .logo {
    width: auto;
    float: right;
  }
  /* line 118, ../sass/footer.scss */
  #footer .logo img {
    display: none;
  }
  /* line 122, ../sass/footer.scss */
  #footer .logo .gototop a {
    border-width: 1px;
    min-width: auto;
    padding: 3px 5px;
    font-size: 0.85rem;
  }
  /* line 128, ../sass/footer.scss */
  #footer .logo .gototop:hover, #footer .logo .gototop:active {
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  /* line 133, ../sass/footer.scss */
  #footer .tel {
    float: left;
    padding-top: 4px;
    text-align: center;
  }
  /* line 137, ../sass/footer.scss */
  #footer .tel a {
    padding-left: 10px;
  }
  /* line 141, ../sass/footer.scss */
  #footer .copyright {
    margin-top: 20px;
  }
}

/* line 3, ../sass/button.scss */
.btn {
  min-width: 150px;
  padding: 7px 18px;
  font-size: 0.95rem;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  -webkit-transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -o-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
  z-index: 2;
}
/* line 14, ../sass/button.scss */
.btn.btn-sm {
  min-width: 90px;
  padding: 5px 15px;
}
/* line 18, ../sass/button.scss */
.btn:hover {
  text-decoration: none;
  outline: none;
}
/* line 22, ../sass/button.scss */
.btn:active {
  -moz-transform: scale(0.96);
  -o-transform: scale(0.96);
  -ms-transform: scale(0.96);
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}

/* 主要：確認/執行鍵 */
/* line 27, ../sass/button.scss */
.btn-primary, .btn-primary.disabled {
  background-color: #29548B;
  border-color: #29548B;
}
/* line 30, ../sass/button.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary.disabled:hover, .btn-primary.disabled:active {
  background-color: #4CD2D5;
  border-color: #4CD2D5;
}

/* line 35, ../sass/button.scss */
.btn-primary.disabled {
  cursor: not-allowed;
}

/* 次要：取消/返回鍵 */
/* line 39, ../sass/button.scss */
.btn-light {
  background-color: rgba(124, 124, 124, 0.05);
  border-color: #A3C2DC;
  color: #7C7C7C;
}
/* line 43, ../sass/button.scss */
.btn-light:hover, .btn-light:active {
  background-color: rgba(124, 124, 124, 0.1);
  border-color: rgba(124, 124, 124, 0.1);
  color: #433734;
}

/* 次要：選項/執行鍵 */
/* line 50, ../sass/button.scss */
.btn-outline {
  position: relative;
  background-color: transparent;
  border-color: #29548B;
  color: #29548B;
  border-width: 3px;
  overflow: hidden;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -moz-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
/* line 59, ../sass/button.scss */
.btn-outline:before {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 0;
  height: 42px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: #29548B;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
/* line 72, ../sass/button.scss */
.btn-outline:hover, .btn-outline:active {
  background-color: transparent;
  border-color: #4CD2D5;
  color: #4CD2D5;
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
/* line 77, ../sass/button.scss */
.btn-outline:hover:before, .btn-outline:active:before {
  width: 100%;
}
/* line 81, ../sass/button.scss */
.btn-outline.btn-outline2 {
  border-color: #4CD2D5;
  color: #4CD2D5;
}
/* line 84, ../sass/button.scss */
.btn-outline.btn-outline2:before {
  background-color: #4CD2D5;
}
/* line 87, ../sass/button.scss */
.btn-outline.btn-outline2:hover, .btn-outline.btn-outline2:active {
  border-color: #29548B;
  color: #29548B;
}

/* line 93, ../sass/button.scss */
.btn-fb {
  background-color: #3b5998;
  color: #fff !important;
}
/* line 96, ../sass/button.scss */
.btn-fb:hover {
  background-color: #2C52A5;
}

/* line 4, ../sass/content.scss */
#gutters {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0 solid #29548B;
  z-index: 1000;
  pointer-events: none;
  -webkit-transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* line 15, ../sass/content.scss */
#page {
  width: 100%;
  padding: 8px;
  overflow-x: hidden;
}

/* line 20, ../sass/content.scss */
.img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 25, ../sass/content.scss */
.img:before {
  content: "";
  display: block;
  padding-bottom: 66.67%;
}

/* line 31, ../sass/content.scss */
.title {
  letter-spacing: 0.5rem;
  text-align: center;
}

/* line 35, ../sass/content.scss */
.m-title {
  position: relative;
}
/* line 37, ../sass/content.scss */
.m-title.title {
  letter-spacing: 1rem;
  font-size: 2.75rem;
  margin-bottom: 40px;
}
/* line 41, ../sass/content.scss */
.m-title.title span {
  position: relative;
  display: block;
}
/* line 44, ../sass/content.scss */
.m-title.title span:before, .m-title.title span:after {
  content: "";
  position: relative;
  top: 10px;
  display: inline-block;
  width: 2px;
  height: 50px;
  background: linear-gradient(132.72deg, rgba(73, 192, 200, 0.8) 12.01%, rgba(76, 210, 213, 0.8) 97.61%);
  -moz-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
/* line 54, ../sass/content.scss */
.m-title.title span:before {
  left: -1rem;
}
@media screen and (max-width: 576px) {
  /* line 60, ../sass/content.scss */
  .m-title.title {
    font-size: 1.75rem;
    letter-spacing: 0.5rem;
    margin-bottom: 20px;
  }
  /* line 64, ../sass/content.scss */
  .m-title.title span:before, .m-title.title span:after {
    top: 5px;
    height: 30px;
  }
  /* line 68, ../sass/content.scss */
  .m-title.title span:after {
    right: -0.5rem;
  }
}

/* line 74, ../sass/content.scss */
.form-check {
  padding-left: 0;
}

/* line 77, ../sass/content.scss */
section {
  position: relative;
  padding-top: 1.5rem;
}

/* line 83, ../sass/content.scss */
#main section#ad {
  padding-top: 80px;
}
/* line 85, ../sass/content.scss */
#main section#ad .parallax {
  position: relative;
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cross-training-royalty-free-image-664314140-1544636573.jpg);
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 2;
}
/* line 94, ../sass/content.scss */
#main section#ad .parallax:before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(17, 17, 17, 0.7) 0%, rgba(41, 84, 139, 0.8) 100%);
  z-index: -1;
}
/* line 107, ../sass/content.scss */
#main section#ad .parallax .caption {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 70px 0;
  text-align: center;
}
/* line 113, ../sass/content.scss */
#main section#ad .parallax .caption .title {
  color: #4CD2D5;
  font-weight: bolder;
  letter-spacing: 0.5rem;
}
/* line 117, ../sass/content.scss */
#main section#ad .parallax .caption .title span {
  display: inline-block;
  width: 30px;
}
/* line 122, ../sass/content.scss */
#main section#ad .parallax .caption p {
  margin-bottom: 0;
  color: #fff;
}
@media screen and (max-width: 768px) {
  /* line 129, ../sass/content.scss */
  #main section#ad .parallax .caption {
    padding: 50px 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 83, ../sass/content.scss */
  #main section#ad {
    padding-top: 50px;
  }
}
@media screen and (max-width: 576px) {
  /* line 137, ../sass/content.scss */
  #main section#ad .parallax .caption {
    padding: 40px 0;
  }
  /* line 139, ../sass/content.scss */
  #main section#ad .parallax .caption .title {
    font-size: 2rem;
    letter-spacing: 0.25rem;
    line-height: 1.4;
  }
  /* line 143, ../sass/content.scss */
  #main section#ad .parallax .caption .title span {
    display: block;
    width: 0;
  }
}
/* line 152, ../sass/content.scss */
#main .breadcrumb {
  padding: 30px 0 0;
  margin: 0;
  background: transparent;
}
/* line 157, ../sass/content.scss */
#main .breadcrumb li:before {
  padding-right: 0.15rem;
  color: #4CD2D5;
}
/* line 161, ../sass/content.scss */
#main .breadcrumb li a {
  color: #7C7C7C;
  font-size: 0.85rem;
}
/* line 166, ../sass/content.scss */
#main .breadcrumb li.active a {
  color: #2C73A9;
}
/* line 172, ../sass/content.scss */
#main .pagination {
  margin-top: 1.5rem;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 176, ../sass/content.scss */
#main .pagination li {
  counter-increment: pagination;
}
/* line 178, ../sass/content.scss */
#main .pagination li a {
  position: relative;
  color: #29548B;
  background-color: transparent;
  border: none;
  font-size: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 185, ../sass/content.scss */
#main .pagination li a:after {
  content: "";
  display: block;
  border-bottom: solid 2px;
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}
/* line 192, ../sass/content.scss */
#main .pagination li a.rotate {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 197, ../sass/content.scss */
#main .pagination li:hover a, #main .pagination li:active a {
  color: #4CD2D5;
}
/* line 199, ../sass/content.scss */
#main .pagination li:hover a:after, #main .pagination li:active a:after {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -moz-transform: transform-origin(0%, 50%);
  -o-transform: transform-origin(0%, 50%);
  -ms-transform: transform-origin(0%, 50%);
  -webkit-transform: transform-origin(0%, 50%);
  transform: transform-origin(0%, 50%);
}
/* line 206, ../sass/content.scss */
#main .pagination li.active a {
  color: #4CD2D5;
  font-weight: bold;
}
/* line 212, ../sass/content.scss */
#main .pagination li:first-child a, #main .pagination li:last-child a {
  display: inline-block;
}
/* line 216, ../sass/content.scss */
#main .pagination li:nth-child(2) {
  counter-reset: pagination;
}
/* line 219, ../sass/content.scss */
#main .pagination li:nth-last-child(2) {
  display: inline-block;
}
/* line 221, ../sass/content.scss */
#main .pagination li:nth-last-child(2) a {
  display: inline-block;
}
/* line 227, ../sass/content.scss */
#main .more {
  font-size: 0.95rem;
}

@media screen and (min-width: 576px) {
  /* line 231, ../sass/content.scss */
  .gototop {
    position: fixed;
    right: 30px;
    bottom: 46px;
    z-index: 89;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
  }
  /* line 240, ../sass/content.scss */
  .gototop a {
    min-width: auto;
    padding: 3px 5px;
    font-size: 0.85rem;
    -webkit-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
  }
  /* line 247, ../sass/content.scss */
  .gototop.active {
    opacity: 0.75;
  }
  /* line 250, ../sass/content.scss */
  .gototop:hover, .gototop:active {
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    opacity: 1;
  }
}
@media screen and (max-width: 576px) {
  /* line 231, ../sass/content.scss */
  .gototop {
    display: none;
  }
}

/* line 259, ../sass/content.scss */
#mob-btn {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  margin: 0;
  background-color: #29548B;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  z-index: 101;
}
@media screen and (min-width: 768px) {
  /* line 259, ../sass/content.scss */
  #mob-btn {
    display: none;
  }
}
/* line 274, ../sass/content.scss */
#mob-btn .menu {
  display: inline-block;
  margin: 0 auto;
  height: 40px;
  cursor: pointer;
}
/* line 279, ../sass/content.scss */
#mob-btn .menu > div {
  float: left;
}
/* line 282, ../sass/content.scss */
#mob-btn .menu .burger {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 40px;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 289, ../sass/content.scss */
#mob-btn .menu .burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #49C0C8;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 300, ../sass/content.scss */
#mob-btn .menu .burger span:nth-child(1) {
  top: 12px;
}
/* line 303, ../sass/content.scss */
#mob-btn .menu .burger span:nth-child(2) {
  top: 19px;
}
/* line 306, ../sass/content.scss */
#mob-btn .menu .burger span:nth-child(3) {
  top: 26px;
}
/* line 312, ../sass/content.scss */
#mob-btn .menu .active span {
  background: #49C0C8;
}
/* line 314, ../sass/content.scss */
#mob-btn .menu .active span:nth-child(1) {
  top: 18px;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 318, ../sass/content.scss */
#mob-btn .menu .active span:nth-child(2) {
  opacity: 0;
  left: -200px;
}
/* line 322, ../sass/content.scss */
#mob-btn .menu .active span:nth-child(3) {
  top: 18px;
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* line 328, ../sass/content.scss */
#mob-btn .menu .text {
  position: relative;
  margin-left: 15px;
  width: 48px;
  height: 40px;
  line-height: 42px;
  color: #49C0C8;
}
/* line 335, ../sass/content.scss */
#mob-btn .menu .text:before, #mob-btn .menu .text:after {
  position: absolute;
  right: 0;
  left: 0;
}
/* line 340, ../sass/content.scss */
#mob-btn .menu .text:before {
  content: "MENU";
  top: 0;
  bottom: 0;
  opacity: 1;
}
/* line 346, ../sass/content.scss */
#mob-btn .menu .text:after {
  content: "CLOSE";
  top: 100%;
  bottom: 0;
  opacity: 0;
}
/* line 354, ../sass/content.scss */
#mob-btn.active {
  background-color: #102544;
}
/* line 356, ../sass/content.scss */
#mob-btn.active .active span {
  background: #4CD2D5;
}
/* line 359, ../sass/content.scss */
#mob-btn.active .text {
  color: #4CD2D5;
}
/* line 361, ../sass/content.scss */
#mob-btn.active .text:before {
  top: -100%;
  opacity: 0;
}
/* line 365, ../sass/content.scss */
#mob-btn.active .text:after {
  top: 0;
  opacity: 1;
}

/* line 373, ../sass/content.scss */
.hp-txt {
  font-size: 0.85rem;
  color: #7C7C7C;
}

/* line 4, ../sass/auform.scss */
.au-form input, .au-form select, .au-form textarea {
  border: 1px solid #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  color: #433734;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
}
/* line 12, ../sass/auform.scss */
.au-form input, .au-form select {
  padding: 5px 12px;
}
/* line 15, ../sass/auform.scss */
.au-form input {
  width: 100%;
  height: calc(2.25rem + 2px);
}
/* line 19, ../sass/auform.scss */
.au-form textarea {
  height: 180px;
  padding: 10px 12px;
  resize: none;
}
/* line 24, ../sass/auform.scss */
.au-form label {
  font-size: 0.9rem;
  color: #7C7C7C;
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
}
/* line 29, ../sass/auform.scss */
.au-form .help-block {
  display: block !important;
  margin: 0;
}
/* line 32, ../sass/auform.scss */
.au-form .help-block ul {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 35, ../sass/auform.scss */
.au-form .help-block ul li {
  font-size: 13px;
  line-height: 1.2;
  color: #D30011;
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
}
/* line 43, ../sass/auform.scss */
.au-form .help-block.mt-none ul {
  margin-top: 0;
}

/* line 50, ../sass/auform.scss */
form .form-group {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 53, ../sass/auform.scss */
form .form-group:focus label, form .form-group:hover label {
  color: #29548B;
}
/* line 56, ../sass/auform.scss */
form .form-group:focus input, form .form-group:focus select, form .form-group:focus textarea, form .form-group:hover input, form .form-group:hover select, form .form-group:hover textarea {
  border-color: #29548B;
  color: #29548B;
}
/* line 61, ../sass/auform.scss */
form .form-group.veri-code {
  align-items: baseline;
}
/* line 63, ../sass/auform.scss */
form .form-group.veri-code .verify {
  padding-left: 5px;
  font-size: 13px;
}
/* line 67, ../sass/auform.scss */
form .form-group.veri-code .help-block {
  bottom: 3px;
}
@media screen and (max-width: 768px) {
  /* line 71, ../sass/auform.scss */
  form .form-group.veri-code .verify {
    display: block;
    padding-left: 0;
  }
}
@media screen and (max-width: 576px) {
  /* line 77, ../sass/auform.scss */
  form .form-group.veri-code .help-block {
    bottom: 20px;
  }
}

/* line 12, ../sass/contacts.scss */
form .pro-list {
  line-height: 1.8;
}
/* line 14, ../sass/contacts.scss */
form .pro-list a {
  display: block;
  color: #2C73A9;
}

/* line 20, ../sass/contacts.scss */
#footer.bor-t {
  margin-top: 80px;
  border-top: 8px solid #29548B;
}
@media screen and (max-width: 767px) {
  /* line 20, ../sass/contacts.scss */
  #footer.bor-t {
    margin-top: 50px;
  }
}
