@charset "UTF-8";
/* line 8, ../sass/style.scss */
body {
  font-family: "Roboto", "Noto Sans TC", 微軟正黑體, STHeiti, arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.085rem;
  color: #666666;
}
@media screen and (max-width: 576px) {
  /* line 8, ../sass/style.scss */
  body {
    font-size: 16px;
  }
}
/* line 18, ../sass/style.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* line 23, ../sass/style.scss */
a {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 25, ../sass/style.scss */
a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}

/* line 31, ../sass/style.scss */
p {
  margin-bottom: 1.5rem;
}

/* line 35, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: #666666;
  font-family: "Roboto", "Noto Sans TC", 微軟正黑體, STHeiti, arial, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

/* line 43, ../sass/style.scss */
button, input, optgroup, select, textarea {
  font-family: "Roboto", "Noto Sans TC", 微軟正黑體, STHeiti, arial, sans-serif;
}

/* line 47, ../sass/style.scss */
ul {
  padding: 0;
  margin: 0;
}
/* line 50, ../sass/style.scss */
ul li {
  list-style: none;
}

/* line 54, ../sass/style.scss */
input.form-control, select, textarea {
  padding: 0.5rem 0.75rem;
  color: #433734 !important;
  border-color: #ced4da !important;
  background-color: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 60, ../sass/style.scss */
input.form-control:hover, input.form-control:focus, input.form-control:active, select:hover, select:focus, select:active, textarea:hover, textarea:focus, textarea:active {
  color: #4CD2D5;
  border-color: #29548B !important;
}

/* line 65, ../sass/style.scss */
.custom-control {
  cursor: pointer;
}
/* line 68, ../sass/style.scss */
.custom-control .custom-control-input:checked ~ .custom-control-indicator {
  background-color: #29548B;
}
/* line 72, ../sass/style.scss */
.custom-control .custom-control-description {
  padding-top: 3px;
}

/* line 77, ../sass/style.scss */
.modal-body select, .select-wrapper select, .registered select {
  border-radius: 0.25rem;
}

/* line 82, ../sass/style.scss */
.select-wrapper select, .registered select {
  background-image: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-512.png);
  background-position: 96% center;
  background-size: 22px;
  background-repeat: no-repeat;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  width: 200px;
}

/* line 93, ../sass/style.scss */
::-webkit-selection {
  color: #fff;
  background: #DC5353;
}

/* line 98, ../sass/style.scss */
::-moz-selection {
  color: #fff;
  background: #DC5353;
}

/* line 103, ../sass/style.scss */
::selection {
  color: #fff;
  background: #DC5353;
}

/* line 108, ../sass/style.scss */
#gutters {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0 solid #29548B;
  z-index: 1000;
  pointer-events: none;
  -moz-transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* line 120, ../sass/style.scss */
#page {
  width: 100%;
  padding: 8px;
  overflow-x: hidden;
}

/* line 126, ../sass/style.scss */
.title {
  margin-bottom: 1.05rem;
  font-size: 50px;
  font-weight: bolder;
  color: #29548B;
  line-height: 1.8;
  letter-spacing: 1rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  /* line 126, ../sass/style.scss */
  .title {
    font-size: 40px;
  }
}

/* line 138, ../sass/style.scss */
.btn {
  width: 150px;
  padding: 8px 36px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 147, ../sass/style.scss */
.btn:hover {
  text-decoration: none;
  outline: none;
}

/* line 152, ../sass/style.scss */
.btn-primary {
  background-color: #29548B;
  border-color: #29548B;
}
/* line 155, ../sass/style.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #2f609f;
  border-color: #29548B;
}
/* line 159, ../sass/style.scss */
.btn-primary.disabled {
  background-color: #356cb2;
}
/* line 161, ../sass/style.scss */
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active {
  background-color: #356cb2;
}

/* line 166, ../sass/style.scss */
.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: #29548B;
}
/* line 170, ../sass/style.scss */
.btn-white:hover, .btn-white:focus, .btn-white:active {
  background-color: #1d3c64;
  border-color: #1d3c64;
  color: #fff;
}

/* line 176, ../sass/style.scss */
.btn-outline, .show > .btn-success.dropdown-toggle {
  background-color: transparent;
  border-color: #29548B;
  color: #29548B;
  border-width: 2px;
}
/* line 181, ../sass/style.scss */
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .show > .btn-success.dropdown-toggle:hover, .show > .btn-success.dropdown-toggle:focus, .show > .btn-success.dropdown-toggle:active {
  background-color: #29548B;
  border-color: #29548B;
  color: #fff;
}

/* line 187, ../sass/style.scss */
.btn-fb {
  background-color: #3b5998;
  color: #fff !important;
}
/* line 190, ../sass/style.scss */
.btn-fb:hover {
  background-color: #2C52A5;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/* line 209, ../sass/style.scss */
#main section {
  position: relative;
  padding: 4rem 0 0;
}
/* line 212, ../sass/style.scss */
#main section:last-child {
  padding: 4rem 0;
}
/* line 215, ../sass/style.scss */
#main section#info {
  margin-top: 4rem;
  background-color: #A3C2DC;
}
/* line 218, ../sass/style.scss */
#main section#info .logo {
  text-align: center;
}
/* line 220, ../sass/style.scss */
#main section#info .logo img {
  width: 180px;
}
/* line 226, ../sass/style.scss */
#main section#info .text ul li {
  font-weight: 500;
}
/* line 228, ../sass/style.scss */
#main section#info .text ul li a {
  color: #666666;
}
/* line 230, ../sass/style.scss */
#main section#info .text ul li a:hover, #main section#info .text ul li a:focus, #main section#info .text ul li a:active {
  color: #29548B;
}
@media screen and (max-width: 768px) {
  /* line 209, ../sass/style.scss */
  #main section {
    padding: 2.5rem 0 0;
  }
  /* line 240, ../sass/style.scss */
  #main section:last-child {
    padding: 2.5rem 0;
  }
  /* line 243, ../sass/style.scss */
  #main section#info {
    margin-top: 2.5rem;
  }
}
/* line 248, ../sass/style.scss */
#main .breadcrumb {
  background: transparent;
  margin-bottom: 0;
}
/* line 252, ../sass/style.scss */
#main .breadcrumb li:before {
  color: #7C7C7C !important;
}
/* line 255, ../sass/style.scss */
#main .breadcrumb li a {
  color: #666666;
}
/* line 260, ../sass/style.scss */
#main .breadcrumb li.active a {
  color: #29548B;
}
/* line 265, ../sass/style.scss */
#main .more {
  color: #29548B;
  font-size: 0.95rem;
}
/* line 268, ../sass/style.scss */
#main .more .icon {
  padding-left: 0.75rem;
}
/* line 272, ../sass/style.scss */
#main .red {
  color: #29548B;
}
/* line 275, ../sass/style.scss */
#main .main-bg {
  position: relative;
  background-color: #29548B;
}
/* line 279, ../sass/style.scss */
#main .gray-bg {
  position: relative;
  background-color: #F9F9F9;
}
/* line 283, ../sass/style.scss */
#main .icon-t {
  display: inline-block;
  margin-top: 2px;
}
/* line 287, ../sass/style.scss */
#main .slide {
  text-align: center;
}
/* line 290, ../sass/style.scss */
#main .slick-prev {
  left: 25px;
}
/* line 293, ../sass/style.scss */
#main .slick-next {
  right: 25px;
}
/* line 296, ../sass/style.scss */
#main .pagination {
  margin: 2rem 0 1.5rem;
}
/* line 298, ../sass/style.scss */
#main .pagination li {
  counter-increment: pagination;
}
/* line 300, ../sass/style.scss */
#main .pagination li a {
  color: #666666;
  background-color: #fff;
  border: 1px solid #A3C2DC;
}
/* line 304, ../sass/style.scss */
#main .pagination li a:after {
  content: " " counter(pagination) " ";
}
/* line 309, ../sass/style.scss */
#main .pagination li:hover a {
  color: #29548B;
  background-color: #fff;
  border: 1px solid #A3C2DC;
}
/* line 316, ../sass/style.scss */
#main .pagination li.active a {
  color: #fff;
  background-color: #29548B;
  border: 1px solid #29548B;
}
/* line 323, ../sass/style.scss */
#main .pagination li:first-child a {
  display: inline-block;
}
/* line 326, ../sass/style.scss */
#main .pagination li:first-child a:after {
  content: "<";
}
/* line 331, ../sass/style.scss */
#main .pagination li:last-child a {
  display: inline-block;
}
/* line 334, ../sass/style.scss */
#main .pagination li:last-child a:after {
  content: ">";
}
/* line 338, ../sass/style.scss */
#main .pagination li:nth-child(2) {
  counter-reset: pagination;
}
/* line 341, ../sass/style.scss */
#main .pagination li:nth-last-child(2) {
  display: inline-block;
}
/* line 343, ../sass/style.scss */
#main .pagination li:nth-last-child(2):after {
  padding: 0 1rem;
  content: "...";
}
/* line 347, ../sass/style.scss */
#main .pagination li:nth-last-child(2) a {
  display: inline-block;
}
/* line 353, ../sass/style.scss */
#main .italic {
  font-style: italic;
}

/* line 358, ../sass/style.scss */
#footer {
  position: relative;
  padding: 1rem 0 0;
  background-color: #29548B;
}
/* line 362, ../sass/style.scss */
#footer .copyright {
  font-weight: 200;
  font-size: 0.85rem;
  padding: 0.5rem 0;
  margin-bottom: 0;
  color: #fff;
}
/* line 368, ../sass/style.scss */
#footer .copyright .elink {
  color: #f4c51c;
  font-weight: 400;
}

/* line 375, ../sass/style.scss */
#banner {
  position: relative;
  display: block;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
/* line 383, ../sass/style.scss */
#banner:before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 84, 139, 0.35);
  z-index: -1;
}
/* line 396, ../sass/style.scss */
#banner .caption {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  z-index: 1;
}
/* line 405, ../sass/style.scss */
#banner .caption h2 {
  position: relative;
  margin-bottom: 1.5rem;
  color: #fff;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 0.8rem;
}
/* line 413, ../sass/style.scss */
#banner .caption ul {
  text-align: center;
}
/* line 415, ../sass/style.scss */
#banner .caption ul li {
  display: inline-block;
}
/* line 417, ../sass/style.scss */
#banner .caption ul li a {
  color: #fff;
  font-weight: bold;
}
/* line 421, ../sass/style.scss */
#banner .caption ul li:after {
  display: inline-block;
  content: "-";
  padding: 0 8px;
  color: #fff;
}
/* line 428, ../sass/style.scss */
#banner .caption ul li:last-child:after {
  display: none;
}
@media only screen and (max-width: 576px) {
  /* line 375, ../sass/style.scss */
  #banner {
    height: 220px;
  }
}

@media screen and (max-width: 768px) {
  /* line 441, ../sass/style.scss */
  .about .align-l,
  .about .align-r {
    text-align: center;
  }
}
/* line 446, ../sass/style.scss */
.about .align-l .title,
.about .align-r .title {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}
@media screen and (min-width: 768px) {
  /* line 446, ../sass/style.scss */
  .about .align-l .title,
  .about .align-r .title {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  /* line 446, ../sass/style.scss */
  .about .align-l .title,
  .about .align-r .title {
    font-size: 2rem;
    letter-spacing: 0.13rem;
  }
}
/* line 458, ../sass/style.scss */
.about .align-l p,
.about .align-r p {
  margin-bottom: 0;
  text-align: left;
}
/* line 462, ../sass/style.scss */
.about .align-l .a-img,
.about .align-r .a-img {
  max-width: 400px;
}
@media screen and (max-width: 768px) {
  /* line 462, ../sass/style.scss */
  .about .align-l .a-img,
  .about .align-r .a-img {
    margin: 0 auto;
  }
}
/* line 468, ../sass/style.scss */
.about .align-l .h-50,
.about .align-r .h-50 {
  height: 0 !important;
}
@media screen and (max-width: 768px) {
  /* line 468, ../sass/style.scss */
  .about .align-l .h-50,
  .about .align-r .h-50 {
    height: 50px !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 476, ../sass/style.scss */
  .about .align-r .pl-4 {
    padding-left: 0 !important;
  }
}
/* line 482, ../sass/style.scss */
.about .h-80 {
  height: 80px;
}
@media screen and (max-width: 768px) {
  /* line 482, ../sass/style.scss */
  .about .h-80 {
    height: 50px;
  }
}

/* line 490, ../sass/style.scss */
.nav-tabs {
  border-bottom: transparent;
}
/* line 492, ../sass/style.scss */
.nav-tabs .nav-item {
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 494, ../sass/style.scss */
.nav-tabs .nav-item .nav-link {
  color: #666666;
}
/* line 497, ../sass/style.scss */
.nav-tabs .nav-item .nav-link.active {
  color: #29548B;
  border-top: transparent;
  border-right: transparent;
  border-bottom: #29548B 2px solid !important;
  border-left: transparent;
}

/* line 507, ../sass/style.scss */
.tab-content {
  padding: 2rem 0 1rem;
}

/* line 511, ../sass/style.scss */
.gototop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 520, ../sass/style.scss */
.gototop a {
  width: 30px;
  height: 30px;
  text-align: center;
  outline: none;
  text-decoration: none;
}
/* line 526, ../sass/style.scss */
.gototop a i {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  color: #faf1a3;
}
/* line 534, ../sass/style.scss */
.gototop:hover, .gototop:active {
  bottom: 25px;
}
/* line 536, ../sass/style.scss */
.gototop:hover a, .gototop:active a {
  text-decoration: none;
}

/* line 542, ../sass/style.scss */
.gototop.active {
  opacity: 1;
  visibility: visible;
  cursor: default;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 581, ../sass/style.scss */
.slick-prev, .slick-next {
  width: 70px;
  height: 70px;
  z-index: 99;
}
/* line 585, ../sass/style.scss */
.slick-prev:before, .slick-next:before {
  color: #29548B;
}

@media screen and (max-width: 576px) {
  /* line 589, ../sass/style.scss */
  .text-xs-ctn {
    text-align: center;
  }
}

/* line 594, ../sass/style.scss */
.blank {
  padding-left: 1rem;
}
@media screen and (max-width: 576px) {
  /* line 594, ../sass/style.scss */
  .blank {
    display: block;
  }
}

/* line 5, ../sass/text.scss */
#main.about .main-bg {
  padding: 0;
}

/* line 13, ../sass/text.scss */
.about .main-bg .sub-menu .icon {
  padding: 1.5rem;
  border: 10px solid transparent;
  text-align: center;
  -moz-transition: ease-in-out 0.35s;
  -o-transition: ease-in-out 0.35s;
  -webkit-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
}
/* line 18, ../sass/text.scss */
.about .main-bg .sub-menu .icon i, .about .main-bg .sub-menu .icon span {
  display: block;
  color: #fff;
}
/* line 22, ../sass/text.scss */
.about .main-bg .sub-menu .icon i {
  padding-bottom: 15px;
  font-size: 2rem;
}
/* line 26, ../sass/text.scss */
.about .main-bg .sub-menu .icon.active {
  border-color: #356cb2;
  background-color: #fff;
}
/* line 29, ../sass/text.scss */
.about .main-bg .sub-menu .icon.active i, .about .main-bg .sub-menu .icon.active span {
  color: #29548B;
}
/* line 33, ../sass/text.scss */
.about .main-bg .sub-menu .icon:hover, .about .main-bg .sub-menu .icon:active, .about .main-bg .sub-menu .icon:focus {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  /* line 12, ../sass/text.scss */
  .about .main-bg .sub-menu {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 39, ../sass/text.scss */
  .about .main-bg .sub-menu .icon {
    padding: 0.75rem;
    border: 5px solid transparent;
  }
  /* line 42, ../sass/text.scss */
  .about .main-bg .sub-menu .icon i {
    padding-bottom: 10px;
  }
}

/* line 52, ../sass/text.scss */
#news .sort .news-list {
  padding: 0 15px;
  margin-bottom: 20px;
}
/* line 55, ../sass/text.scss */
#news .sort .news-list li {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 59, ../sass/text.scss */
#news .sort .news-list li .date {
  display: block;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #76a1d7;
}
/* line 65, ../sass/text.scss */
#news .sort .news-list li .ellipsis2 {
  color: #433734;
  font-weight: bold;
}
/* line 68, ../sass/text.scss */
#news .sort .news-list li .ellipsis2:hover {
  color: #2f609f;
}
/* line 74, ../sass/text.scss */
#news .sort .btn {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  /* line 51, ../sass/text.scss */
  #news .sort {
    margin: 0 2rem;
  }
}
/* line 82, ../sass/text.scss */
#news .pagination {
  margin: 0.5rem 0 1.5rem;
}

/* line 88, ../sass/text.scss */
.about .news-de .date, .news .news-de .date {
  color: #76a1d7;
}
/* line 91, ../sass/text.scss */
.about .news-de .title, .news .news-de .title {
  font-size: 2rem;
  line-height: 1.4;
  color: #666666;
  text-align: left;
  letter-spacing: 0.085rem;
}
@media screen and (max-width: 767px) {
  /* line 99, ../sass/text.scss */
  .about .news-de .title, .news .news-de .title {
    font-size: 1.25rem;
  }
}
/* line 104, ../sass/text.scss */
.about .news-de .content img, .news .news-de .content img {
  margin-bottom: 2rem;
}
/* line 107, ../sass/text.scss */
.about .news-de .content p, .news .news-de .content p {
  margin-bottom: 2rem;
}
/* line 109, ../sass/text.scss */
.about .news-de .content p:last-child, .news .news-de .content p:last-child {
  margin-bottom: 30px;
}

/* line 118, ../sass/text.scss */
.product .pro .cover {
  position: relative;
  margin-bottom: 12px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
/* line 126, ../sass/text.scss */
.product .pro .cover:before {
  content: " ";
  display: block;
  padding-bottom: 70%;
}
/* line 131, ../sass/text.scss */
.product .pro .cover:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #29548B;
  opacity: 0;
  z-index: -1;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 143, ../sass/text.scss */
.product .pro .cover .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-transform: uppercase;
}
/* line 151, ../sass/text.scss */
.product .pro .cover .caption h4 {
  position: absolute;
  bottom: 0;
  right: 15px;
  font-weight: 700;
  color: #fff;
}
/* line 157, ../sass/text.scss */
.product .pro .cover .caption h4 span {
  font-weight: 700;
}
/* line 161, ../sass/text.scss */
.product .pro .cover .caption ul {
  display: none;
}
@media screen and (min-width: 768px) {
  /* line 166, ../sass/text.scss */
  .product .pro .cover:hover:after {
    opacity: 0.8;
  }
}
@media screen and (max-width: 576px) {
  /* line 166, ../sass/text.scss */
  .product .pro .cover:hover:after {
    opacity: 0.5;
  }
}
@media screen and (min-width: 768px) {
  /* line 174, ../sass/text.scss */
  .product .pro .cover:hover .caption > ul {
    opacity: 1;
  }
}
/* line 180, ../sass/text.scss */
.product .pro .cover:hover .caption:before, .product .pro .cover:hover .caption:after {
  opacity: 1;
}
@media screen and (max-width: 576px) {
  /* line 180, ../sass/text.scss */
  .product .pro .cover:hover .caption:before, .product .pro .cover:hover .caption:after {
    opacity: 0;
  }
}
@media screen and (min-width: 768px) {
  /* line 186, ../sass/text.scss */
  .product .pro .cover:hover .caption h2 {
    padding-top: 25%;
  }
}
@media screen and (max-width: 767px) {
  /* line 186, ../sass/text.scss */
  .product .pro .cover:hover .caption h2 {
    padding-top: 20%;
  }
}
@media screen and (min-width: 768px) {
  /* line 200, ../sass/text.scss */
  .product .pro .cover .caption h4 {
    padding: 1rem 1.2rem;
  }
}
@media screen and (min-width: 769px) {
  /* line 209, ../sass/text.scss */
  .product .pro .cover .caption ul {
    display: block;
    width: 70%;
    padding-left: 0;
    padding-right: 10px;
    margin-bottom: 0;
    border-right: 1px #A3C2DC solid;
    opacity: 0;
    color: #fff;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -moz-transform: translate3d(-40, 0, 0);
    -webkit-transform: translate3d(-40, 0, 0);
    transform: translate3d(-40, 0, 0);
  }
  /* line 220, ../sass/text.scss */
  .product .pro .cover .caption ul li {
    list-style: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 229, ../sass/text.scss */
  .product .pro .cover:after {
    opacity: 0.8;
  }
  /* line 233, ../sass/text.scss */
  .product .pro .cover .caption h4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  /* line 117, ../sass/text.scss */
  .product .pro {
    margin-bottom: 15px;
  }
  /* line 242, ../sass/text.scss */
  .product .pro .cover:last-child {
    margin-bottom: 0;
  }
  /* line 245, ../sass/text.scss */
  .product .pro .cover:before {
    padding-bottom: 40%;
  }
}

/* line 253, ../sass/text.scss */
.knowledge .know {
  margin-bottom: 30px;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 256, ../sass/text.scss */
.knowledge .know a {
  display: inline-block;
  color: #666666;
}
/* line 259, ../sass/text.scss */
.knowledge .know a:hover {
  color: #2f609f;
}
/* line 263, ../sass/text.scss */
.knowledge .know .cover {
  position: relative;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 269, ../sass/text.scss */
.knowledge .know .cover:before {
  content: " ";
  display: block;
  padding-bottom: 60%;
}
/* line 275, ../sass/text.scss */
.knowledge .know .n-title {
  margin-bottom: 10px;
}
/* line 277, ../sass/text.scss */
.knowledge .know .n-title .ellipsis2 {
  margin-bottom: 0;
  color: #433734;
  font-weight: bold;
  font-size: 1.15rem;
}
/* line 284, ../sass/text.scss */
.knowledge .know p {
  margin-bottom: 10px;
}
/* line 286, ../sass/text.scss */
.knowledge .know p .time {
  color: #4CD2D5;
}
/* line 289, ../sass/text.scss */
.knowledge .know p .time .date:after {
  display: inline-block;
  content: '/';
}
/* line 295, ../sass/text.scss */
.knowledge .know p .category {
  color: #D30011;
  font-weight: bold;
}
/* line 298, ../sass/text.scss */
.knowledge .know p .category:before {
  display: inline-block;
  padding: 0 5px;
  content: '|';
  color: #4CD2D5;
}
/* line 306, ../sass/text.scss */
.knowledge .know .n-text {
  margin-bottom: 10px;
}
/* line 308, ../sass/text.scss */
.knowledge .know .n-text p {
  margin-bottom: 0;
}
/* line 312, ../sass/text.scss */
.knowledge .know span {
  font-size: 0.95rem;
}
/* line 314, ../sass/text.scss */
.knowledge .know span.float-right {
  font-weight: bold;
  color: #29548B;
}
@media screen and (min-width: 768px) {
  /* line 320, ../sass/text.scss */
  .knowledge .know .n-title {
    height: 48px;
  }
  /* line 322, ../sass/text.scss */
  .knowledge .know .n-title .ellipsis2 {
    font-size: 1.25rem;
  }
  /* line 326, ../sass/text.scss */
  .knowledge .know .n-text {
    height: 70px;
  }
}

/* line 336, ../sass/text.scss */
#info .text ul li a {
  word-break: break-word;
}
